.button {
    border: none;
    color: blue;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: poiner;
}

.primary {background-color: #00326D;}
.secondary {background-color: #CBD5E1;}
.success {background-color: #56B885;}
.danger {background-color: #7F1D1D;}